body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:435px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:867px;
}
#u10879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:867px;
  display:flex;
}
#u10879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10880 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:68px;
  width:376px;
  height:730px;
}
#u10880_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10880_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:730px;
  display:flex;
}
#u10881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u10883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u10883 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 10px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u10884 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:23px;
  width:20px;
  height:15px;
  display:flex;
}
#u10884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10884_img.mouseOver {
}
#u10884.mouseOver {
  opacity:0.8;
}
#u10884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10885 {
  position:absolute;
  left:266px;
  top:13px;
}
#u10885_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10885_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:56px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u10886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u10888 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:13px;
  width:3px;
  height:3px;
  display:flex;
}
#u10888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u10889 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:12px;
  width:5px;
  height:5px;
  display:flex;
}
#u10889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u10890 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:13px;
  width:3px;
  height:3px;
  display:flex;
}
#u10890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10892 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:7px;
  width:15px;
  height:15px;
  display:flex;
}
#u10892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u10893 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:12px;
  width:5px;
  height:5px;
  display:flex;
}
#u10893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u10894 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:6px;
  width:1px;
  height:18px;
  display:flex;
}
#u10894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:266px;
}
#u10895 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:232px;
  width:278px;
  height:266px;
  display:flex;
}
#u10895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10898 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:42px;
  width:4px;
  height:8px;
  display:flex;
}
#u10898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:10px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10899 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:40px;
  width:4px;
  height:10px;
  display:flex;
}
#u10899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:13px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10900 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:37px;
  width:4px;
  height:13px;
  display:flex;
}
#u10900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:15px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10901 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:35px;
  width:4px;
  height:15px;
  display:flex;
}
#u10901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u10902 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:36px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u10902 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10903 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:34px;
  width:29px;
  height:17px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u10903 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u10904 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:38px;
  width:20px;
  height:12px;
  display:flex;
  font-size:12px;
}
#u10904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:36px;
}
#u10905 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:25px;
  width:221px;
  height:36px;
  display:flex;
}
#u10905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u10906 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:66px;
  width:375px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.305574593458566deg);
  -moz-transform:rotate(0.305574593458566deg);
  -ms-transform:rotate(0.305574593458566deg);
  transform:rotate(0.305574593458566deg);
}
#u10906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:40px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10908 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:798px;
  width:375px;
  height:40px;
  display:flex;
}
#u10908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10909 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:824px;
  width:120px;
  height:6px;
  display:flex;
}
#u10909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
